#root {
  width: 100%;
  margin: 0 0;
  padding: 1.5rem;
}

.headers {
  text-align: center;
}

.text-container h2,
.text-container p {
  margin-top: 0;
}

.plan-container img {
  width: 30%;
  height: auto;
  margin-right: 2rem;
  object-fit: cover;
}

.plan-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 1rem;
  border: 1px solid black;
  padding: 1rem;
}

.text-container {
  align-items: flex-start;
}

.green {
  background-color: green;
  font-weight: bold;
  padding: 0.5em 0.75em;
  border-radius: 5px;
}

.blue {
  background-color: #646cff;
  font-weight: bold;
  color: white; 
  padding: 0.5em 0.75em;
  margin-right:0.5em;
   border-radius: 5px;
}

.delete {
  margin-top: 3em;
  display: block;
  background-color: darkgrey;
}